canvas {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#opening-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-over-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}